
$accentColor: #0086c3;
$secondColor: #29b6f6;
$lightColor: white;

header {
  background-color: $accentColor;
  .logo {
    display: block;
    img {
      width: 80px;
      height: 80px;
    }
  }

  .navbar {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      padding-left: 15px;
      a {
        color: white;
      }
    }
  }

}

.main-content {
  article {
    width:40%;
  }
  .img-right {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     background-image: url("../images/bird.jpg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
  }
}

footer {
  background-color: $secondColor;
  color: $lightColor;
  ul {
    margin:0;
    padding: 0;
    li {
      display: inline-block;
      padding-right:10px;
      img {
        width:30px;
        height:30px;
      }
    }
    
  }
}

